* {
  box-sizing: border-box;
  --bg_p1: red;
  --bg_p2: lightgrey;
  --bg_scissors: lightgreen;
}

/*==============GENERAL===============*/
.section {
  display: flex;
  height: 200px;
  width: 500px;
  justify-content: space-around;
  margin: auto;
  text-align: center;
  line-height: 100px;
}

.paper,
.player-2 {
  background-color: var(--bg_p1);
}

.rock,
.player-1 {
  background-color: var(--bg_p2);
}

.scissors {
  background-color: var(--bg_scissors);
}

/*==============SECTION BATTLE===============*/

.battle_child,
.choice_child {
  height: 100px;
  width: 100px;
}

/*==============SECTION CHOICE===============*/

/*==============SECTION SCORES===============*/

.section + .scores {
  line-height: 50px;
}

.scores_child {
  height: 50px;
  width: 100px;
}

/*==============SECTION MANAGE GAME===============*/
.section + .manage_game {
  line-height: 24px;
}

.manage_game-reset {
  border: 1px solid orange;
  color: orange;
  height: 30px;
  padding: 5px;
}
